/* FORMULÁRIO */
.container-formulario {
    width: 60%; /* Ajustado para parecer mais próximo do mockup */
    min-height: 50vh; /* Altura mínima ajustada para não ficar muito grande */
    background-color: #f3f3f3; /* Cor de fundo conforme o mockup */
    margin: 3rem auto; /* Margens ajustadas para centralização */
    padding: 2rem; /* Adiciona padding interno */
    border-radius: 8px; /* Borda mais suave */
}

.container-formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    height: 3.5rem;
    padding-left: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e9e9e9;
}

input[type="button"] {
    background-color: var(--cor-primaria);
    color: white;
    width: 60%;
    padding: 0.75rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

/* Ajusta o hover do botão para ter feedback visual */
input[type="button"]:hover {
    background-color: var(--cor-primaria); /* Cor mais escura ao passar o mouse */
}

